@model IEnumerable<Categorias>
@{
	ViewData["Title"] = "Index";
}
<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6 text-start"><h2>Lista de Categorias</h2></div>
		<div class="col-6 text-end">
			<a class="btn btn-primary" asp-controller="Categorias" asp-action="Create">
				Criar nova Categoria
			</a>
		</div>
	</div>
	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Nome da Categoria</th>
				<th>Descrição</th>
				<th>Data de Criação</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				<tr>
					<td>@obj.Nome</td>
					<td>@obj.Descricao</td>
					<td>@($"{obj.DataCriacao:dd/MM/yyyy - hh:mm}")</td>
					<td>
						<div>
							<a class="btn btn-outline-dark text-center" asp-controller="Categorias" asp-action="Edit" asp-route-id="@obj.Id">Editar</a>
							<a class="btn btn-outline-danger text-center" asp-controller="Categorias" asp-action="Delete" asp-route-id="@obj.Id">Excluir</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>